.black {
    color: black;
}

.black:hover {
    color: red;
}

h2 {
    margin-left: 5px;
    font-size: 40px;
    padding-bottom: 5px;
}

.card {
    text-align: center;
}

.active {
    height: 85vh;
}