.yt {
    font-size: 2rem;
    color: red;
}

a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}

.github {
    font-size: 2rem;
    color: #8511c9;
}

h2 {
    margin-left: 5px;
    font-size: 40px;
    padding-bottom: 5px;
}

.card {
    text-align: center;
}

.active {
    height: 85vh;
}